<nav class="main-nav">
	{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
	{{ if ne $url "" }}
		<a href='{{ .Site.BaseURL }}'> {{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}

	{{ if ne $url "about/" }}
		<a href='{{ .Site.BaseURL }}about/'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
	{{ end }}
	{{ if ne $url "slides/" }}
		<a href='{{ .Site.BaseURL }}slides/'>{{ with .Site.Params.slides }}{{ . }}{{ else }}Slides{{ end }}</a>
	{{ end }}

</nav>
